body {
    background-color: #d4fdff;
    font-family: 'Source Sans Pro', Verdana, Geneva, sans-serif;
}

nav, h2, h3, h5, label {
    font-family: 'Lora', Times New Roman, Times, serif;
}

.bar {
   background-color: #404f66; 
}

.navbar-brand {
   padding-right: 100px; 
}

.divWidth {
    width:100%;
}

.imageWidth {
    width: 1440px;
    height: 200px
}

ul {
    list-style: none;
}

.media-q {
    margin-top: 2.5%;
    float: left;
}

.btn:active, .btn:hover{
  background-color:#d4fdff;
  color:black !important;
}

.card {
    width: 90% !important;
}

footer {
    clear: both;
    padding-top: 2%;
}

.iconic:hover {
    stroke:#8cfdff !important;
    fill:#8cfdff !important;
}

.interface, .jumbotron {
    background-color: #8cfdff; 
}

.case {
   background-color: #8cfdff;
    width: 90%;
    height: 80%;
    border: 2px solid #404f66;
    padding: 2.5%;
    margin: 2.5% 0 2.5% 5%;
}

.img-border {
    border: 2px solid #404f66;
    width: 100%;
}

@media screen and (min-width: 1px) {
	.media-q {
		width: 100%;
	}
}

@media screen and (min-width
    : 600px) {
        .media-q {
            width: 50%;
        } 
}

@media screen and (min-width: 1200px){
    .media-q {
        width: 25%;
    }
}
